
<div id="welcome-container">
<h1 id="welcome-header"> DBC BrainTrust <img src="http://cdn.evbuc.com/images/1037254/48276486300/1/logo.png" ></h1>

  <div id="options-container">

    <%= link_to "All Questions", questions_path %>
  </div>
</div>
