.vote-widget input{
  border-radius: 50px;
  color: white;
  width: 59px;
  height: 59px;
  border: 0;
  font-size: 2em;
  background: #b034d9;
  background-image: -webkit-linear-gradient(top, #b034d9, #742bb8);
  background-image: -moz-linear-gradient(top, #b034d9, #742bb8);
  background-image: -ms-linear-gradient(top, #b034d9, #742bb8);
  background-image: -o-linear-gradient(top, #b034d9, #742bb8);
  background-image: linear-gradient(to bottom, #b034d9, #742bb8);
  font-family: Arial;
  color: #ffffff;
  text-decoration: none;
}

.vote-widget-voted input{
  background: #d63cfc;
  background-image: -webkit-linear-gradient(top, #d63cfc, #aa34d9);
  background-image: -moz-linear-gradient(top, #d63cfc, #aa34d9);
  background-image: -ms-linear-gradient(top, #d63cfc, #aa34d9);
  background-image: -o-linear-gradient(top, #d63cfc, #aa34d9);
  background-image: linear-gradient(to bottom, #d63cfc, #aa34d9);
  text-decoration: none;
  border-radius: 50px;
  color: white;
  width: 59px;
  height: 59px;
  border: 0;
  font-size: 2em;
}
