<div class="vote-widget">
  <% @vote = answer.votes.find_by(user_id: session[:user_id]) %>
  <% if !(@vote == nil) %>
    <%= button_to answer.votes.count, answer_vote_path(answer, @vote), method: :delete, class: "vote-button-voted" %>
  <% else %>
    <%= button_to answer.votes.count, answer_votes_path(answer), class: "vote-button" %>
  <% end %>
</div>