<div class="vote-widget">
  <% if @vote %>
    <%= button_to @answer.votes.count, answer_vote_path(@answer, @vote), method: :delete, class: "vote-widget-voted" %> "voted"
  <% else %>
    <%= button_to @answer.votes.count, answer_votes_path(@answer), class: "vote-widget" %> "not voted"
  <% end %>
</div>